name: macOS

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  test:
    name: LLVM ${{ matrix.LLVM_VERSION }}
    runs-on: macos-latest
    strategy:
      matrix:
        LLVM_VERSION: ["18.1", "19.1"]

    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true
      - name: Setup OS
        run: |
          brew install gnu-tar ansible
          sudo ln -sf $(which gtar) /usr/local/bin/tar
      - name: Prepare working directory
        run: |
          sudo mkdir -p /opt
          sudo chown -R `whoami` /opt
      - name: Download LLVM
        run: |
          cd ci && \
          ansible-playbook download-llvm.yaml \
            -e llvm_version=${{ matrix.LLVM_VERSION }} \
            -e platform=macos-arm64 \
            -e host=localhost \
            --verbose
      - name: Build and run tests
        run: |
          cd ci && \
          ansible-playbook build.yaml \
            -e llvm_version=${{ matrix.LLVM_VERSION }} \
            -e platform=macos-arm64 \
            -e host=localhost \
            -e source_dir=$PWD/.. \
            --verbose
