name: macOS

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  test:
    name: LLVM ${{ matrix.LLVM_VERSION }}
    runs-on: macos-latest
    strategy:
      matrix:
        LLVM_VERSION: [18, 19]

    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true

      - name: Install LLVM
        run: brew install llvm@${{ matrix.LLVM_VERSION }}

      - name: Build and test (Debug)
        run: |
          cmake -B build-debug -G Ninja \
            -DPATH_TO_LLVM=$(brew --prefix llvm@${{ matrix.LLVM_VERSION }})
          cmake --build build-debug --target irm-tests
          ./build-debug/tests/irm-tests

      - name: Build and test (Release)
        run: |
          cmake -B build-release -G Ninja \
            -DCMAKE_BUILD_TYPE=Release \
            -DPATH_TO_LLVM=$(brew --prefix llvm@${{ matrix.LLVM_VERSION }})
          cmake --build build-release --target irm-tests
          ./build-release/tests/irm-tests
