name: Ubuntu 24.04

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  test:
    name: LLVM ${{ matrix.LLVM_VERSION }}
    runs-on: ubuntu-24.04
    strategy:
      matrix:
        LLVM_VERSION: ["18.1", "19.1"]

    steps:
      - name: Install software
        run: |
          sudo apt-get update && sudo apt-get install -y python3-pip curl git cmake \
            libz-dev libncurses-dev libstdc++6 liblzma-dev
          pip3 install --break-system-packages ansible
      - uses: actions/checkout@v4
        with:
          submodules: true
      - name: Prepare working directory
        run: |
          sudo mkdir -p /opt
          sudo chown -R `whoami` /opt
      - name: Download LLVM
        run: |
          cd ci && \
          ansible-playbook download-llvm.yaml \
            -e llvm_version=${{ matrix.LLVM_VERSION }} \
            -e platform=ubuntu-24.04 \
            -e host=localhost \
            --verbose
      - name: Build and run tests
        run: |
          cd ci && \
          ansible-playbook build.yaml \
            -e llvm_version=${{ matrix.LLVM_VERSION }} \
            -e platform=ubuntu-24.04 \
            -e host=localhost \
            -e source_dir=$PWD/.. \
            --verbose
